header {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  padding: 28px 0;
  font-size: 24px;
}
header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header a {
  color: #fff;
}
header a:hover {
  color: #6A5ACD;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 220px;
  width: 100%;
}